@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
body {
  background-color: #f6f6fe;
  font-family: "Montserrat", sans-serif;
}

.titleSection {
  padding: 30px 0px;
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.titleSection h3 {
  color: #6d708d;
}

.toggleSection {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
}
.toggleSection .annually {
  margin: 0;
  font-size: 15px;
  color: #b3b5c6;
}
.toggleSection .monthly {
  margin: 0;
  font-size: 15px;
  color: #b3b5c6;
}
.toggleSection .toggleContainer {
  width: 45px;
  height: 25px;
  border-radius: 50px;
  background: linear-gradient(to right, #a3a8f0, #696fdd);
  padding: 3px;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  transition: opacity 0.4s ease;
}
.toggleSection .toggleContainer .toggleButton {
  height: auto;
  width: 18px;
  border-radius: 50%;
  background-color: #fff;
}
.toggleSection .toggleContainer:hover {
  opacity: 0.5;
}

.cards {
  justify-content: center;
  align-items: center;
}
.cards .card {
  height: 400px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 25px;
  margin: 20px;
  border: none;
}
.cards .card .title {
  text-align: center;
  font-size: 15px;
  color: #6d708d;
}
.cards .card .price {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.cards .card .price h6 {
  font-size: 60px;
  color: #494c5f;
}
.cards .card .price i {
  color: #494c5f;
  font-size: 30px;
}
.cards .card .feature {
  text-align: center;
  font-size: 13px;
  color: #6d708d;
}
.cards .card .learnMore {
  background: linear-gradient(to right, #a3a8f0, #696fdd);
  border: none;
  border-radius: 5px;
  padding: 10px 0px;
  color: #fff;
  font-size: 11px;
  letter-spacing: 1.4px;
}
.cards .card .learnMore:hover {
  background: transparent;
  color: #696fdd;
  border: 1px solid #696fdd;
}
.cards #professional {
  height: 400px;
  background: linear-gradient(to bottom, #a3a8f0, #696fdd);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 20px;
  border: none;
}
.cards #professional .title {
  text-align: center;
  font-size: 15px;
  color: #fff;
}
.cards #professional .price {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.cards #professional .price h6 {
  font-size: 60px;
  color: #fff;
}
.cards #professional .price i {
  color: #fff;
  font-size: 30px;
  margin-right: 3px;
}
.cards #professional .feature {
  text-align: center;
  font-size: 13px;
  color: #fff;
}
.cards #professional .learnMore {
  background: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 0px;
  font-size: 13px;
  letter-spacing: 1.3px;
  color: #696fdd;
}
.cards #professional .learnMore:hover {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

@media (min-width: 992px) {
  .cards .card {
    margin: 0;
  }
  .cards #professional {
    height: 450px;
    justify-content: center;
  }
  .cards #basic {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .cards #master {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

/*# sourceMappingURL=style.css.map */
